body {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  margin: 0;
  color: #2C343B;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0.2em 0;
}

a {
  text-decoration: none;
  color: black;
}

strong {
  font-weight: 700;
}

input {
  width: 200px;
}

button {
  border-width: 0px;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
}

button:focus {
  outline:0;
}

nav {
  display: flex;
  align-items: center;
  padding: 50px;
}

nav ul {
  display: inline-block;
  margin-left: auto;
}

nav li {
  display: inline-block;
  font-size: 1.1em;
  padding-left: 30px;
}

nav li a {
  font-weight: 700;
  opacity: 0.4;
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}

nav li a:hover {
  opacity: 1;
}

.container {
  min-height: 100vh;
  width: 75vw;
  position: relative;
  margin: 0 auto;
}

.title {
  font-size: 1.7em;
  font-weight: 700;
}

.title span:first-child {
  font-weight: 400;
}

.asuw {
  position: absolute;
  width: 150px;
  left: 50px;
  bottom: 60px;
}

.text-center {
  text-align: center;
}

.btn {
  font-size: 0.8em;
  font-weight: 500;
  color: white;
  padding: 15px 20px;
  border-radius: 2px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  width: 100px;
  opacity: 1;
}

.btn-large {
  font-size: 1em;
  font-weight: 500;
  color: white;
  padding: 15px 40px;
  border-radius: 2px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  width: 170px;
  opacity: 1;
}

.btn:hover, .btn-large:hover {
  cursor: pointer;
  opacity: 0.8;
}

.homeBtn {
  margin-top: 20px;
  background-color: #4b2e83;
}

.homeBtn:after {
  content: "\2192";
  margin-left: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.homeBtn:hover:after{
  margin-left: 15px;
}

.home {
  width: 90%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home div {
  padding: 30px;
  margin: 50px;
}

.home section, .home button {
  opacity: 0;
}

.card-update {
  width: 100%;
}

.card-update button {
  margin: 0px 10px;
}

.logo {
  position: relative;
  width: 350px;
  height: 350px;
}

.logo img {
  position: absolute;
  right: 0;
}

.logo img:first-child {
  bottom: -50px;
}

.logo img:last-child {
  z-index: -100;
}

.black {
  background-color: black;
}

.red {
  background-color: rgb(255, 98, 98);
}

.form {
  margin: 50px;
}
.status {
  font-size: 0.5em;
}

.nav-wrapper {
  margin-bottom: 50px;
}

.mentors {
  width: 65vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0 30px 0;
}

.active {
  font-weight: 700;
  opacity: 1;
}

.card {
  position: relative;
  width: 250px;
  height: 400px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card-content p {
  font-size: 0.8em;
  font-weight: 500;
  color: gray;
  margin: 5px;
}

.card-title {
  font-size: 1.4em;
  font-weight: 400;
}

.mentor-img {
  margin: 10px;
  object-fit: cover;
  background-color: lightgray;
  width: 230px;
  height: 300px;
  border-radius: 2px;
}

.description {
  white-space: pre-wrap;
}

.add-mentor {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -70px;
  margin-left: auto; 
  margin-right: auto; 
  width: 100px;
}

.mentor-textarea {
  margin-top: 10px;
  height: 100%;
  resize: none;
}

input[type='text'] {
  padding: 0px;
}

input[type="text"].major {
  font-size:0.8em;
  color: gray;
}

.password-container {
  width: 50vw;
  margin: 0 auto;
}

input[type="password"].password {
  color: #4b2e83;
  width: 100%;
  font-size:7em;
  padding: 50px 0;
  text-align: center;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
textarea.mentor-textarea:focus:not([readonly]){
  border-color: black;
  border-bottom-width: 1px;
  box-shadow: none;
}

input[type=password]:not(.browser-default):focus:not([readonly]){
  border-color: #4b2e83;
  border-bottom-width: 2px;
  box-shadow: none;
}
