body {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.container {
  width: 80vw;
}

.mentors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.primary {
  color: #2C343B;
}

.active {
  font-weight: 700;
}

.title {
  font-size: 1.5em;
  font-weight: 700;
}

h1 {
  font-weight: 700;
}

.card {
  min-width: 500px;
  max-width: 300px;
  height: 250px;
  display: flex;
}

.card-content {
  flex: 1;
}

.mentor-img {
  border-right: 1px solid black;
  width: 200px;
  height: 100%;
}